html {

    --yes3-attention: orangered;
    --yes3-warning: darkorange;
    --yes3-danger: indianred;

    --yes3-color: rgb(48, 48, 48);
    --yes3-subtle: gray;
    --yes3-background: white;
    --yes3-border: lightgray;
    --yes3-divider: rgb(224,224,224);
    --yes3-divider-background: rgb(96,96,96);

    --yes3-input: rgb(48, 48, 48);
    --yes3-input-background: white;

    --yes3-paste-link: purple;
}

tr.yes3-textarea-parent-row {

    /*border-top: 2px solid var(--yes3-divider) !important;*/
}

div.yes3-uploadcontainer-label {

    width: calc( 100% - 160px );
    float: left;
    height: 2em;
    line-height: 2em;
}

.yes3-uploadcontainer-row{

    /*border-bottom: 2px solid var(--yes3-divider);*/
}

.yes3-inline-image-container {

    width: 100%;
    min-height: 50px;
    background-color: transparent;
    padding: 0;
    display: none;
}

.yes3-inline-image-container.yes3-clickable {
    
    cursor: pointer;
}

img.yes3-file-upload-inline {

    border: 1px solid var(--yes3-border);
    float: left;
    max-width: 100% !important;
}

td.yes3-textarea{

    width: 100%;
    color: var(--yes3-color);
    background-color: transparent;
    padding: 0;
    border: 0;
}

textarea.yes3-textarea {
    width: 100%;
    min-height: 26px;
    color: var(--yes3-input);
    background-color: var(--yes3-input-background);
    font-weight: 600;
    padding: 0.5em;
    resize: vertical !important;
    /*border: 1px solid var(--yes3-border);*/
    border: 0;
}

.yes3-error {

    color: var(--yes3-danger);
    font-weight: 800;
}

.yes3-paste-link {
    white-space: nowrap;
}

.yes3-paste-link a {
    margin-left: 0;
    font-weight: normal;
    text-align: left;
    color: var(--yes3-paste-link) !important;
}

.yes3-paste-link * {

    font-size: inherit;
}

.yes3-paste-link a:hover{

    cursor: pointer;
    color: var(--yes3-attention) !important;
}

.fileupload-container {

    white-space: nowrap !important;
}

.yes3-error-message-container {

    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid var(--yes3-danger);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--yes3-background);
    z-index: 1000;
    max-width: 450px;
}

.yes3-error-message-container p {

    color: var(--yes3-danger);
    font-size: 1em;
    font-weight: 700;
}

.yes3-error-message-container:hover {

    cursor: pointer;
}

.yes3-paste-target {

    color: var(--yes3-paste-link);
    border: 1px solid var(--yes3-border);
    padding-top: calc(50px - 1em);
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: transparent;
    display: none;
}

.yes3-subtle{

    color: var(--yes3-subtle) !important;
}

.yes3-small {

    font-size: 10px;
}

.yes3-centered {

    text-align: center;
}

.header {

    background-color: var(--yes3-divider-background);
    border-color: var(--yes3-divider-background);
    color: var(--yes3-divider);
}
